@font-face {
    font-family: 'NexaBold';
    src: url('fonts/NexaBold.eot?#iefix') format('embedded-opentype'), url('fonts/NexaBold.otf') format('opentype'), url('fonts/NexaBold.woff') format('woff'), url('fonts/NexaBold.ttf') format('truetype'), url('fonts/NexaBold.svg#NexaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NexaLight';
    src: url('fonts/NexaLight.eot?#iefix') format('embedded-opentype'), url('fonts/NexaLight.otf') format('opentype'), url('fonts/NexaLight.woff') format('woff'), url('fonts/NexaLight.ttf') format('truetype'), url('fonts/NexaLight.svg#NexaLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body{
    height: 100%;
}

body {
    color: #1f1f1f;
    font-family: 'NexaLight',sans-serif;
}

a{
	transition: all ease 1s;
}

#preloader{
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    color: #fff;
    z-index: 9999;
	
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	
	display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}

/********* Menu bar Start **********/
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: NexaBold,sans-serif;
    background-color: rgba(0, 0, 0, .6);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

    .navbar-default .navbar-header .navbar-brand {
        text-transform: uppercase;
        font-family: 'NexaLight',sans-serif;
        font-weight: 700;
        color: #404040;
    }

        .navbar-default .navbar-header .navbar-brand:hover,
        .navbar-default .navbar-header .navbar-brand:focus {
            color: #fff;
            font-weight: 700;
        }

.navbar-nav > li > a {
    padding: 10px 30px 0px 30px;
    font-size: 16px;
    outline: none;
    border: none;
}

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
    color: #a0a0a0;
}

    .navbar-default .nav > li > a:hover,
    .navbar-default .nav > li > a:focus:hover {
        color: #fff;
    }

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
    color: #fff !important;
    background-color: transparent;
    font-weight: 700;
}

    .navbar-default .nav > li.active > a:hover,
    .navbar-default .nav > li.active > a:focus:hover {
        color: #fff !important;
        background-color: transparent;
    }

@media(min-width:768px) {
    .navbar-default {
        background-color: rgba(0, 0, 0, .9);
    }

        .navbar-default .navbar-header .navbar-brand {
            color: rgba(255,255,255,.7);
        }

        /*.navbar-default .navbar-header .navbar-brand:hover,
            .navbar-default .navbar-header .navbar-brand:focus {
                color: #fff;
            }*/

        .navbar-default .nav > li > a,
        .navbar-default .nav > li > a:focus {
            color: #a0a0a0;
        }

        /*.navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }*/

        .navbar-default.affix {
            border-color: rgba(0,0,0,.9);
            background-color: rgba(0,0,0,.9);
        }

            .navbar-default.affix .navbar-header .navbar-brand {
                font-size: 14px;
                color: #f05f40;
            }

            /*.navbar-default.affix .navbar-header .navbar-brand:hover,
                .navbar-default.affix .navbar-header .navbar-brand:focus {
                    color: #eb3812;
                }*/

            .navbar-default.affix .nav > li > a,
            .navbar-default.affix .nav > li > a:focus {
                color: #a0a0a0;
            }

                .navbar-default.affix .nav > li > a:hover,
                .navbar-default.affix .nav > li > a:focus:hover {
                    color: #fff;
                }
}

/******** Menu bar End ********/

header {
    text-align: center;
    padding-top: 58px;
    height: 100vh;
    display: block;
    background-color: #fff;
    background-image: url('images/the-meetups-banner.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 80% 20%;
    background-repeat: no-repeat;
    color: #fff;
}

@media only screen and (min-width: 1025px) {
    header {
        
    }
}

header h1 {
    font-family: 'NexaLight',sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #fff;
    margin: 0px auto;
}

header p {
    font-family: 'Kaushan';
    font-style: italic;
    font-size: 14px;
    padding: 6px;
}

header .white-area {
    width: 50px;
    height: 91.2vh;
    align-items: center;
    position: absolute;
    z-index: 10;
    right: 0px;
    background-color: rgba(255,255,255,1);
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    overflow: auto;
    transition: all ease .8s;
	font-size: 11px;
}

    header .white-area.open {
        width: 100%;
        background-color: rgba(255,255,255,0.95);
    }

    header .white-area a {
        color: #a1a1a1;
        text-align: center;
        text-decoration: none;
        transition: all ease .4s;
    }

        header .white-area a:hover {
            transform: scale(0.9);
        }

        header .white-area a img {
            display: block;
            margin: 6px auto;
        }

        header .white-area a.close-white-board {
            position: absolute;
			top: 10px;
            right: 10px;
            font-size: 20px;
            color: #302f2f;
            text-decoration: none;
            transition: all ease .4s;
        }

            header .white-area a.close-white-board:hover {
                color: #000;
                transform: rotate(90deg);
            }

    header .white-area .users-names {
        color: #1d1d1d !important;
        font-family: "Love Ya Like A Sister", NexaBold, 'Comic Sans MS', sans-serif;
        font-size: 32px;
    }

        header .white-area .users-names span {
            white-space: nowrap;
            padding: 4px;
            margin: 2px;
            display: inline-block;
        }

header .submit-name {
    margin: 74px 48px 0px 0px;
    
}

header .desc {
    max-width: 440px;
    margin: 50px auto;
}

header .desc  p{ padding: 14px 6px; }

header .btn {
    border: 1px solid #fff;
    color: #fff;
    padding: 6px 30px;
    border-radius: 0px;
    background-color: transparent;
    transition: all ease .2s;
}

    header .btn:hover {
        color: #fff;
        background-color: rgba(160,160,160, 0.6);
    }

#what-we-do {
    display: block;
    background-color: #000;
    color: #fff;
    background-image: url('images/what-we-do-bg.jpg');
    background-position: 50.8% bottom;
    padding-bottom: 346px;
    background-size: 80%;
    background-repeat: no-repeat;
}

.timeline {
    display: flex;
    display: -webkit-flex;
    background-color: #000;
    background-image: url('images/white-dot.jpg');
    background-position: center center;
    background-repeat: repeat-y;
	
	
}
	.timeline a, .timeline p{
		font-size: 12px;
	}

    .timeline .LHS {
        width: 50%;
        padding: 1%;
        text-align: right;
        padding-top: 74px;
        min-height: 674px;
    }

        .timeline .LHS::after {
            content: ' ';
            display: block;
            clear: both;
        }

        .timeline .LHS .timeline-item {
            width: 96%;
            float: right;
            padding-right: 76px;
            font-family: NexaLight;
            margin-bottom: 60px;
        }

            .timeline .LHS .timeline-item::after {
                content: ' ';
                display: block;
                clear: both;
            }

            .timeline .LHS .timeline-item::before {
                content: ' ';
                width: 24px;
                height: 24px;
                background-color: #1d1d1d;
                display: block;
                border-radius: 50%;
                border: 6px solid #fff;
                float: right;
                margin-right: -100px;
                margin-top: 32px;
                transition: all .2s ease-in-out;
            }

            .timeline .LHS .timeline-item:hover::before {
                transform: scale(1.6);
            }

            .timeline .LHS .timeline-item h2 {
                font-family: NexaBold;
                font-size: 26px;
            }

            .timeline .LHS .timeline-item p {
                color: #6e6e6e;
                font-family: NexaBold;
                margin-bottom: 40px;
            }

            .timeline .LHS .timeline-item a {
                color: #fff;
                background-color: transparent;
                padding: 12px 20px;
                border: 1px solid #fff;
                transition: background-color ease 600ms;
                text-align: center;
                margin-bottom: 16px;
                display: inline-block;
                text-decoration: none;
				font-size: 12px;
            }

                .timeline .LHS .timeline-item a:hover {
                    background-color: #1e1e1e;
                }

                .timeline .LHS .timeline-item a.order-now {
                    display: inline;
                }


    .timeline .RHS {
        width: 50%;
        padding: 1%;
        padding-top: 174px;
        min-height: 674px;
    }

        .timeline .RHS::after {
            content: ' ';
            display: block;
            clear: both;
        }

        .timeline .RHS .timeline-item {
            width: 96%;
            padding-left: 76px;
            font-family: NexaLight;
            margin-bottom: 100px;
        }

            .timeline .RHS .timeline-item::after {
                content: ' ';
                display: block;
                clear: both;
            }

            .timeline .RHS .timeline-item::before {
                content: ' ';
                width: 24px;
                height: 24px;
                background-color: #1d1d1d;
                display: block;
                border-radius: 50%;
                border: 6px solid #fff;
                float: left;
                margin-left: -100px;
                margin-top: 10px;
                transition: all .2s ease-in-out;
            }

            .timeline .RHS .timeline-item:hover::before {
                transform: scale(1.6);
            }

            .timeline .RHS .timeline-item h2 {
                font-family: NexaBold;
                font-size: 26px;
            }

            .timeline .RHS .timeline-item p {
                color: #6e6e6e;
                font-family: NexaBold;
                margin-bottom: 40px;
            }

            .timeline .RHS .timeline-item a {
                color: #fff;
                background-color: transparent;
                padding: 12px 20px;
                border: 1px solid #fff;
                transition: background-color ease 600ms;
                text-align: center;
                margin-bottom: 16px;
                display: inline-block;
                text-decoration: none;
            }

                .timeline .RHS .timeline-item a:hover {
                    background-color: #1e1e1e;
                }

/********* Portfolio *********/
#portfolio {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
}

.portfolio-header {
    padding: 10px;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.6);
    color: #fff;
}

    .portfolio-header a {
        color: #fff;
        transition: color ease 1s;
    }

        .portfolio-header a:hover {
            text-decoration: none;
            color: #a1a1a1;
        }

.checkbox {
    transition: all ease 0.4s;
}

    .checkbox:hover {
        transform: scale(1.1);
    }

.portfolio-body {
    flex: 1;
    -webkit-flex: 1;
}

.carousel-inner {
    display: flex;
    display: -webkit-flex;
    /*min-height: 100vh;*/
}

    .carousel-inner .item {
        flex: 1;
        -webit-flex: 1;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
    }

.carousel-caption {
    bottom: auto;
    padding-top: 100px;
    text-align: left;
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

    .carousel-fade .carousel-inner .next,
    .carousel-fade .carousel-inner .prev,
    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

.carousel-fade .carousel-control {
    z-index: 2;
}

/** Order Form ***/
#order-form {
    background-color: #000;
    text-align: center;
    padding: 28px 0px 80px 0px;
}

#order-form .container {
    max-width: 772px;
    margin: 0px auto;
}

    #order-form h2 {
        color: #fff;
    }

#order-form .sub-headings {
    font-family: 'Kaushan';
    font-style: italic;
    color: #a1a1a1;
    font-size: 15px;
    margin-bottom: 74px;
}

#order-form a{
	color: #a1a1a1;
}


/******** who we are *******/
#who-we-are {
    min-height: 600px;
    background-color: #fff;
    text-align: center;
    padding-top: 74px;
}

    #who-we-are h2 {
        color: #1d1f1e;
        margin-bottom: 4px;
    }

    #who-we-are .sub-headings {
        font-family: 'Kaushan';
        font-style: italic;
        color: #898989;
        font-size: 15px;
    }

.team {
    margin: 40px 0px;
    text-align: center;
}

    .team div[class^="col-"], .team div[class*=" col-"] {
        margin-bottom: 20px;
    }

    .team img {
        margin: 0px auto;
    }

    .team a {
        color: #9a9a9a;
        font-size: 22px;
        transition: all .4s;
    }

        .team a:hover {
            color: #242424;
        }

.sm-icons {
    text-align: center;
}

    .sm-icons a {
        width: 48px;
        height: 48px;
        color: #fff;
        display: inline-block;
        margin: 4px 20px;
        border-radius: 50%;
        background-color: #1a1a1a;
        text-align: center;
        font-size: 32px;
		padding-top: 4px;
        transition: background-color ease-in-out .2s;
    }

        .sm-icons a:hover {
            background-color: #000000;
        }

/*** Holla to Us ***/
#holla-at-us {
    text-align: center;
}

.holla-header {
    width: 0px;
    border-bottom: 74px solid #000;
    border-bottom-width: 74px;
    border-bottom-style: solid;
    border-bottom-color: #000;
    border-left-style: solid;
    border-left-color: transparent;
}

#holla-at-us .holla-content {
    background-color: #000;
    color: #fff;
}

#holla-at-us .container {
    max-width: 772px;
    margin: 0px auto;
}

#holla-at-us .holla-content h2 {
    font-family: NexaLight;
    font-size: 28px;
	padding-top: 60px;
}

#holla-at-us .holla-content .sub-headings {
    font-family: 'Kaushan';
    font-style: italic;
    color: #a1a1a1;
    font-size: 15px;
    margin-bottom: 74px;
}

#holla-at-us .holla-content i {
    color: #a1a1a1;
    font-size: 20px;
    margin: 8px;
}

#holla-at-us .holla-content a {
    color: #fff;
}

form {
    margin: 20px 0px;
}

.form-control {
    border: 1px solid #a1a1a1;
    border-radius: 0px;
    background-color: transparent;
    color: #fff;
    padding: 18px;
}

textarea.form-control {
    height: 140px;
}

button[type="submit"] {
    background-color: #a1a1a1;
    color: #343434;
    font-family: 'NexaBold', sans-serif;
    padding: 18px;
    cursor: pointer;
    border-radius: 0px;
    border: none;
    transition: background-color ease .4s;
}

    button[type="submit"]:hover {
        background-color: #cccccc;
    }

footer {
    background-color: #000;
    color: #a1a1a1;
    padding: 56px 0px;
}

    footer .container {
        max-width: 772px;
        margin: 0px auto;
    }
